<div class="col-md-1 d-none d-md-block sidebar nav">
    <div class="sidebar-sticky sticky-top p-0">
        <ul class="nav flex-column align-items-center">
            <a class="single active" href="/" >Home</a>
            <a class="single" href="/chat" >Message</a>
            <a class="single" href="/meeting" >Meeting</a>
            <% if(user.accountType == "admin" || user.accountType == "instructor"){ %> 
               
                <a class="single" href="/detail/students">Students</a>
                <% } %> 
                <% if(user.accountTye == "instructor"){ %>
                    <a class="single" href="/detail/instructors">Instructors</a>
                    <% } %>  
            <a class="single" href="/auth/logout" >Logout</a>
           
        </ul>
    </div>
</div>

