@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.container{
    background-color: whitesmoke;
}

/*navigation menu*/
nav{
    background: #ff5353;
    padding: 20px 10px;
}
nav ul{
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
nav a{
    color: #fff;
    font-size: 18px;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
    padding: 10px;
    display: block;
}

.login-form{
    padding: 10%;
    margin : 10% auto;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.login-form .form-group{
    margin-bottom: 5%;
}

.login-form .form-group button{
    display: block;
    margin: 0 auto;
    width: 20%;
}

.login-form .form-group .logo{
    text-align: center;
    margin: 5% auto;

}

/*Register form register.ejs*/

.register-form {
    padding: 10%;
    margin : 10% auto;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.register-form .form-group{
    margin-bottom: 5%;
}

.register-form .form-group button{
    display: block;
    margin: 0 auto;
    width: 20%;
}

.register-form .form-group .logo{
    text-align: center;
    margin: 5% auto;

}


/*Google button*/
.google-btn{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: #ff5353;
    border-radius: 5px;
    
}
.google-btn:hover{
    color: white;
    
}
/*Facebook button*/

.facebook-btn{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.753);
    border-radius: 5px;
}
.facebook-btn:hover{
    color: white;
    
}


#mario-chat{   
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    overflow-y: scroll;
    overflow: hidden;
}

#chat-window{
    height: 600px;
    max-height: 700px;
    overflow: auto;
    background: #f9f9f9;
    
}

/* #output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
} */

#output #me p{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    
}
#output #me p span{
    background-color: rgba(0, 174, 255, 0.945);
    color: white;
    padding: 10px 10px;
    border-radius: 3px;
    
}
#output #you p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
}
#output #you p span{
    background-color: rgba(0, 228, 49, 0.945);
    color: white;
    padding: 10px 10px;
    border-radius: 3px;
    
}



#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}


#mario-chat label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

#mario-chat input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

#mario-chat button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

