@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.container{
    background-color:none;
    padding: 0;
}

/*navigation menu*/
/*
nav{
    background: #ff5353;
    padding: 20px 10px;
}
nav ul{
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
nav a{
    color: #fff;
    font-size: 18px;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
    padding: 10px;
    display: block;
} */

.navbar{
    background-color: white;
    color:#24a0ed;
    padding: 20px 0;
}
    

   .navbar .navbar-brand{

        color:#3a91ac;
        font-size: 20px;
        font-weight: bold;
    }

.navbar .navbar-nav .navlink{
        
            font-weight: 400;
            color:#b3b3b3;
            font-size: 16px;
            
    }
    .navbar .navbar-nav .navlink:hover{
        color: #0e1306;
    }
    .navbar .navbar-nav .navlink:focus{
        font-weight: 600;
    }
   #profile{
       display: flex;
       justify-content: flex-end;
       
   }
  

    
/*sidebar dash css*/

.sidebar{

    padding: 0;
    
    background-color: #ffffff;
   
}
.sidebar h6{
    text-align: center;
}
   


/* .sidebar .sidebar-sticky{
    position: sticky;
    top:  75px;
    height: calc(100vh - 75px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
} */

.sidebar a.active{
        color:#0e1306;
        font-weight: bold;
    }
     
.sidebar .single{
color: #b3b3b3;
font-weight: 500;
font-size: 14px;
margin: 20px 0;
text-decoration: none;
}
.sidebar .single:hover{
    color:#003366;
    
}

/* right container index*/
.right-content{
    background-color: rgba(160, 207, 238, 0.781);
    border-top-left-radius: 50px; 
    color: #26758d;
    height: 900px;
    padding: 0;

}

.right-content .welcome-container{
        
        background-color: rgb(253, 253, 253);
        background-image: url('../assets/Group\ 2.png');
        background-size: 100%;
        background-repeat: no-repeat;;
        border-radius: 25px;
}

.right-content .welcome-container .welcome-icons{
            
          
            margin: 5% auto;
}

            

right-content .welcome-container .welcome-icons .icons{
                
                background-color: blue;
                
                border-radius: 25px;
                

            }


/*Notification*/
.notification{
    height: 750px;
}

.notification h4{
        color: rgb(20, 18, 5);
        
}
.notification hr{
    background-color:#FF003D;
    height: 0.2rem;
    
}
.notification .media{
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
}
.notification .media a{
        text-decoration: none;
        color: #26758d;
    }
        


.reminder{
        background-color: white;
        padding: 1rem;
        border-radius: 15px;
}
.reminder a{
            text-decoration: none;
            color: black;
        }

.reminder .reminder-body{
    background-color: #f4af1b;
    padding: 1rem;
    border-radius: 15px;
}
    
        



/* fontawesome icons*/
.icon{
    margin-right: 8px;

}

.sidebar-heading {
    font-size: 12px;
    text-transform: uppercase;
}

/*login*/
.login-form{
    padding: 10%;
    margin : 10% auto;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.login-form .form-group{
    margin-bottom: 5%;
}

.login-form .form-group button{
    display: block;
    margin: 0 auto;
    width: 20%;
}

.login-form .form-group .logo{
    text-align: center;
    margin: 5% auto;

}

/*Register form register.ejs*/

.register-form {
    padding: 10%;
    margin : 10% auto;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.register-form .form-group{
    margin-bottom: 5%;
}

.register-form .form-group button{
    display: block;
    margin: 0 auto;
    width: 20%;
}

.register-form .form-group .logo{
    text-align: center;
    margin: 5% auto;

}


/*Google button*/
.google-btn{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: #ff5353;
    border-radius: 5px;
    
}
.google-btn:hover{
    color: white;
    
}
/*Facebook button*/

.facebook-btn{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.753);
    border-radius: 5px;
}
.facebook-btn:hover{
    color: white;
    
}


#mario-chat{   
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow-y: scroll;
    overflow: hidden;
}

#chat-window{
    height: 600px;
    max-height: 700px;
    overflow: auto;
    background: #f9f9f9;
    
}

/* #output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
} */

#output #me p{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    
}
#output #me h6{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    
}
#output #me p span{
    background-color: rgba(0, 174, 255, 0.945);
    color: white;
    padding: 10px 10px;
    border-radius: 3px;
    
}
#output #you p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
}
#output #you p span{
    background-color: rgba(0, 228, 49, 0.945);
    color: white;
    padding: 10px 10px;
    border-radius: 3px;
    
}



#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}


#mario-chat label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

#mario-chat input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

#mario-chat .sendmessage{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}



